<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\webapp\env\Scripts\python.exe|C:\inetpub\wwwroot\webapp\env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" /> 
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\webapp" />
  </appSettings>
</configuration>  